@charset "UTR-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url(fontes/idroid.otf) format(opentype);
    font-weight: normal;
}

 :root{
    --cor0:#c5ebd6;
    --cor1:#83e1ad;
    --cor2:#3ddc84;
    --cor3:#2fa866;
    --cor4:#1ac537;
    --cor5:#063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', sans-serif;
    --fonte-android: 'Android', 'sans-serif';
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cor0);
    align-items: center;
    font-family: var(--fonte-padrao);
    margin: auto;
}

a[target="_blank"]::after {
    content: '\00a0\1f517';
}


.corpo p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 20px;
    line-height: 2em;
}

.corpo a{
    background-color: #1ac537a0;
    padding: 1px;
}
.corpo{
    background-color: white;
    padding: 20px;
    min-width: 280px;
    max-width: 1000px;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.618);
    margin-bottom: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.corpo .version {
    background: linear-gradient( to right, #CDEEDB #cdeedb00);
}

.corpo img {
    width: 100%;
}

.corpo .doid{
    display: block;
    max-width: 350px;
    margin: auto;
}
.header{
    padding: 20px;
    background: linear-gradient( to bottom, #37C374, #134429);
    color: white;
    text-align: center;
    font-family: var(--fonte-destaque);
}

.header h1{
    margin-bottom: 20px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.651);
}

.header p {
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.651);
    margin-bottom: 20px;
}

nav {
    text-align: left;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
    font-family: var(--fonte-padrao);
}

nav a:hover{color: #96d3b2;
    background-color:#063d1e;
    border-radius: 5px;
    
}

.corpo a{
    color: #063d1e;
    text-decoration: none;
}
.corpo .artigo h1{
    font-family:var(--fonte-android);
    padding: 10px 0px;
    color: #063d1e;
}

.corpo .artigo h2{
    font-family: var(--fonte-android);
    padding: 0px 0px 0px 10px;
    color: #134429;
    background-image: linear-gradient(to right, var(--cor4), transparent);
}

.corpo .foot{
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px black;
}

.corpo .foot .text {
    background-color: #2FA866;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

.corpo .foot .list li{
    list-style-type: '\1F5F8';
    list-style-position: inside;

}

.corpo .foot .list{
    columns: 2;
    }

.corpo img{
    padding: 10px 0px 10px 0px;
}

.video {
    background-color: #063d1e;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 56%;

    position: relative;
}

.video iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

footer{
    background-color: #063d1e;
    color: white;
    padding: 10px;
    text-align: center;
}

footer a:hover{
    text-decoration: underline;
    color: #1ac537;
}